<!-- /*
============================================
; Title: Exercise 7.3 - Form Validation
; Author: Dan Ross
; Date: 13 Feb 2021
; Modified By: Dan Ross
; Description: This is the not found component HTML page.
;===========================================
*/ -->
<div fxLayout="column">
  <mat-card
    fxFlex
    style="margin-top: 10%; width: 50%; margin-left: 18%"
    class="mat-elevation-z0"
  >
    <mat-card-title
      ><img src="./assets/not-found-image.png" alt="" />
    </mat-card-title>

    <mat-card-content style="text-align: center; padding-left: 30%">
      <!-- This button will take you back to the home page -->
      <button mat-raised-button color="accent" routerLink="/">
        Return home
      </button>
    </mat-card-content>
  </mat-card>
</div>
