/*
============================================
; Title: Exercise 7.3 - Form Validation
; Author: Dan Ross
; Date: 13 Feb 2021
; Modified By: Dan Ross
; Description: This is the sign-in component CSS file.
;===========================================
*/

.signin-container {
  width: 35%;
  margin: 15% auto;
}
.msg-error {
  margin: 10px 0;
  padding: 12px;
  color: #d8000c;
  background-color: #FFD2D2;
}
.signin-container > mat-card-title, mat-card-subtitle {
  text-align: center;
}

