<!-- /*
============================================
; Title: Exercise 7.3 - Form Validation
; Author: Dan Ross
; Date: 13 Feb 2021
; Modified By: Dan Ross
; Description: This is the gpa component HTML page.
;===========================================
*/ -->
<!-- This will output the GPA total. The first 1 represents how many whole number digits we want to show.  The second 1 represents the minimum number of fractional decimals to display and the last value represents the maximum fractional decimals to display  -->
{{ gpaTotal | number: '1.1-2' }}
